/**
    COLOR

    Where all color's variables are defined

    Thanks to SASS Map, we can define all colors at one place.
    We also respect our BEM like notation and files architecture.
*/

$white:#FFF;
$black:#05050c;

$grey-2:#f4f4f4;
$grey-1:darken(#f4f4f4,8%);
$grey:#7c7c7c;

$palettes: (
    action: (
        link: $black
    ),
    button: (
        background:$black,
        background--highlight:$black,
        background--hover: $grey,
        background--danger: #f10,
        background--danger-hover: darken(#f10, 10%),
        background--highlight-hover: $grey,
        color: $white,
        color--highlight: $white,
    ),
    error: (
        color: #f10,
        text-color: $black,
        text-color--invert: #fff
    ),
    badge: (
        background--success: #76d443,
        background--error: #f10,
        background--warn: #efe778,
        text--success: $black,
        text--error: #fff,
        text--warn:$black
    ),
    flash: (
        background--error: #f10,
        background--success: #76d443,
        background--warning: #efe778,
        background--confirm:$black,
        border: $black,
        color: $black,
        color--invert: #fff
    ),
    footer: (
        background:$black,
        color: #555,
        color--highlight: #999
    ),
    form: (
        background: #fff,
        border: $grey,
        border--focus: $black,
        color: $black,
        color--highlight: $black,
        label-color:$black
    ),
    header: (
        background: $white,
        background--highlight:$white,
        color:$black,
        label-color:$black
    ),
    layout: (
        background: #fff,
        border: #eee,
        close-color: $black,
        color: $black,
        content-background: #f8f8f8,
        content-border: #bbb,
        loading-color:$black
    ),
    loader: (
        background: $black,
        background--highlight: #efe778
    ),
    product: (
        background: #f8f8f8,
        border: #eee,
        color--error: #f10,
        color--highlight: #333
    ),
    quantity-trigger: (
        background: #ccc,
        background--hover: #efe778,
        background--disabled: #eee,
        color: #111,
        color--disabled: #bbb
    ),
    static: (
        background--highlight: #f8f8f8,
        border: #eee,
        color--highlight: #333,
        color--link: #999
    ),
    step: (
        background: $black,
        background--active: $white,
        border: $white,
        color: $white,
        color--active: $black
    ),
    table: (
        background--highlight: #f8f8f8,
        border: #eee,
        color--highlight: #333,
        color--success: #76d443
    ),
    tooltip: (
        background: #ccc,
        border: #ccc transparent,
        label: #555,
        text: #111
    )
);